
.paginator {
    margin: 10px;
}

.pageNumber{
    padding: 2px;
    border: solid grey 1px;
}

.selectedPage {
    margin-left: 3px;
    margin-right: 3px;
    font-weight: bold;
    font-size: large;
    border-color: #202020;
}

