.myPosts {
    padding: 10px;
}

.posts {
    margin-top: 10px;
    background-color: #aaa;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    outline: none;
}

.post_footer {
    height: 70px;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.post_footer button {
    text-transform: uppercase;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    transition: all 0.4s ease 0s;
    color: #eee;
    background: #202020;
    letter-spacing: 1px;
    font-size: 25px;
    width: 50px;
}
.post_footer button:hover {
    background: #000;
}