.nav{
    grid-area: n;
    background-color: #004444;
    padding: 20px;
    height: 100vh;
  }

.item{
  color: #eee;
  }
  
.nav a{
  color: #eee;
  text-decoration: none;
}

.nav a.active{
  color: #70ccf9;
  
}

.nav a:hover{
  color: #70ccf9;
}
  