*{
  box-sizing: border-box;
}
.item {
  color: #202020;
  padding: 5px 0;
  height: 113px;
  transition: all 0.3s;
}

.item a img {
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee;
  padding: 1px;
  transition: all 0.3s;
}

.item a {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  min-height: 60px;
  min-width: 300px;
  align-items: center;
  color: #202020;
}

.item:hover {
  background-color: #525252;
  border-radius: 10px;
  color: #eee;
}

.item:hover a {
  color: #eee;
}

.item:hover a img {
  cursor: pointer;
}

.item .like img {
  margin-left: 30px;
  width: 20px;
  height: 20px;
}
