.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs .dialogsItems {
    padding: 10px;
}

.dialogs .messages {
    padding: 10px;
}

.dialogs .messages .message {
    padding: 10px;
}
