.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
    gap: 10px;
}

.dialogs .dialogsItems {
    background-color: #525252;
    border-radius: 10px;
    overflow: hidden;
}

.dialogs .messages {
    background-color: #525252;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.messages .textarea {
    margin: 0 10px 0 0;
    resize: none;
    background-color: #aaa;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    outline: none;
    font-size: larger;
}

.messages button {
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    color: #eee;
    background: #202020;
}

.messages button:hover {
    background: #000;
    letter-spacing: 1px;
}

.messages img {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 1px;
    background-color: #eee;
}

.msg_head{
    display: flex;
    padding: 10px;
    background-color: #454545;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.name {
    color: #eee;
    padding-left: 10px;
}

.msg_body{
    display: flex;
    justify-content: space-between;
}


